body 
{
    /* background-color: #baac9b; */
    background-color: #BAA796;
    font-family: 'Otomanopee One';font-size: 22px;
    line-height: 1.6;
}
.welcome_div
{ 
    padding-top: 70px;
    text-align: center;
}

.logout
{
    justify-content: right;
}

a 
{
    text-decoration: none;
}

.header
{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav
{
    float: center;
}

.right-section
{
    display: flex;
    align-items: center;  
}

.left-section
{
    display: flex;
    align-items: center;
}

.dino-logo
{
    padding-left: 20px;
    padding-top: 60px;
    height: 80px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.35, color 0.35s;
    box-shadow:  5px 5px 10px black(0, 0, 0, .15);
    transition: box-shadow 0.15s;
    transition: background-color 0.15s;
    display: flex;
    align-items: center;
}

.dino-logo:active
{
    opacity: 0.7;
}

.vertical-line 
{
    width: 1px;
    height: 300px;
    background-color: #696969;
    margin: 0 auto;
}

.search-content
{
    display: flex;
    justify-content: center;
    min-width: 150px;
    padding-bottom: 30px;
}

.search-bar
{
    border: 1px #000;
    border-radius: 5px;
    height: 20px;
    width: 200px;
    padding: 5px 25x 5px 25px;
    outline: 0;
    background-color: white;
    text-align: center;
}

.search-button
{
    height: 40px;
    width: 60px;
}

.search-bar::placeholder
{
    font-family: 'Karla';
    font: 24px;
}

.welcome-title
{
    color: rgb(236, 227, 227);
    padding-top: 20px;
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Otomanopee One';
    margin: 0;
}

.welcome-user
{
    display: flex;
    align-items: center;  
}

.welcome-div
{
    padding-top: 50px;
    text-align: center;
}

.logout-button
{
    text-align: center;
}

.button
{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'Karla';
    font-size: 20px;
    height:30px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.35, color 0.35s;
    box-shadow:  5px 5px 10px black(0, 0, 0, .15);
    transition: box-shadow 0.15s;
    transition: background-color 0.15s;
}

.button:hover
{
    background-color: rgb(192, 192, 251);
    color: rgb(255, 255, 255);

}
.logout-div
{
    margin-top: 30px;
}

.add-contacs
{
    display: flex;
    align-items: center;  
}

.form1 { text-align: center; }

.search-contact
{
    height: 10px;
    display: flex;
    justify-content: center;
}

.main-container
{
    margin: 0px auto;
    padding: 25px;
    border-radius: 5px;
}

.entry-form
{
    padding: 0px 0;
}

form
{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}
 form label
 {
     font-weight: 500;
     /* opacity: 0.7; */
 }
 form label, form input
 {
     display: block;
     outline: none;
     border-radius: 25px;
     border: none;
 }
 form input[type = "text"], form input[type = "number"]
 {
     color: #000;
     font-family: inherit;
     font-size: 16px;
     padding: 10px 18px;
     margin: 12px 0;
     transition: all 0.5s ease;
 }
 form input:focus
 {
     background: #252525;
     color: #fff;
 }

 .message
 {
     text-align: center;
     display: block;
     width: 50%;
     margin: 10px auto;
     font-size: 14px;
     color: #fff;
     border-radius: 5px;
     padding: 10px 0;
     visibility: hidden;
 }

 .error
 {
     background: #f32013;
     visibility: visible;
 }
 .success
 {
     background: #4bb543;
     visibility: visible!important;
 }

 .input-btns
 {
     text-align: center;
 }

 #addContactButton
 {
     display: block;
     width: 160px;
     margin: 20px auto;
     font-size: 15px;
     font-weight: 500;
     font-family: inherit;
     padding: 10px;
     border: 3px solid rgb(0, 0, 0);
     border-radius: 25px;
     color: #fff;
     background: #000411;
     cursor: pointer;
     opacity: 0.8;
     transition: all 0.5s ease;
     outline: none;
 }

 #addContactButton:hover
 {
     opacity: 1;
 }

 #submit-btn span, #cancel-btn span
 {
     padding-right: 5px;
 }

 #reset-btn
 {
     position: absolute;
     right: 25px;
     top: 10px;
     width: 120px;
 }


 .record-container
 {
    width: 100%;
    height: 80%;
 }


.record-el
{
     display: block;
     padding: 4px 0;
     text-align: center;
     opacity: 0.9;
}


.record-item
{
    color: #000;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 15px 0;
    background: #fff;
    box-shadow: 0 0 6px #777;
}
.main-container
{
    display: grid;
    grid-template-columns: .8fr 2fr;
    width: 90vw;
    grid-column-gap: 30px;
}
.record-input
{
    height: 600px;
}

#t-dino
{   
    width: 10%;
    height: 10%;
} 

#pt-dino
{   
    width: 10%;
    height: 10%;
} 

a
{
    color: black;
}

a:visited
{
    color: black;
}

.record-input, .record-display
{
    border-radius: 10px;
    height: 600px;
    padding: 20px 0;
    margin: 30px 0;
    box-shadow: 0px 0px 3px 0px rgba(1, 0, 1, 1);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(1, 0, 1, 1);
    color: rgb(65 54 54);
}
.record-input > h2, .record-display > h2
{
    padding: 10px 0;
    text-align: center;
    font-size: 35px;
}
.record-input
{
    color: rgb(65 54 54);
    background: #baac9b;
}
.record-display
{
    background: #baac9b;
    color:rgb(65 54 54);
    position: relative;
}

.tables
{
    width:100%;
    height:100%;
    table-layout: fixed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-radius: 10px;

}

.content-table {
    height: 460px;
    overflow-x: auto;
    margin-top: 0px;
    border-radius: 10px;

}

#contacts td,
#contacts th 
{
    border: .5px solid rgb(0, 0, 0);
}

#contacts th 
{
    padding: 20px 15px;
    text-align: left;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: bold;
    background-color: #9fad8f;;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
}



#contacts td span 
{
    /* font-family: 'Karla'; */
    /* font-weight: 500; */
    font-size: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

#navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 20px;
  }
  
  #logo 
  {
    font-size: 75px;
  }
  
  #welcome 
  {
    padding-top: 30px;
    font-size: 60px;
    text-align: center;
    flex-grow: 1;
  }
  
  #logout 
  {
    font-size: 20px;
    text-align: right;
  }


.line 
{
    width: 125px;
    height: 0;
    border: 1px solid #C4C4C4;
    margin: 3px;
    display:inline-block;
    text-align: center;
  }

.line-div
{
    text-align: center;
}

#b-dino
{
    padding-left: 20px;
    padding-top: 60px;
    height: 120px;
    border: none;
    border-radius: 8px;
    /* cursor: pointer; */
    transition: opacity 0.35, color 0.35s;
    box-shadow:  5px 5px 10px black(0, 0, 0, .15);
    transition: box-shadow 0.15s;
    transition: background-color 0.15s;
    display: flex;
    align-items: center;
}

#t-dino
{   
    width: 10%;
    height: 10%;
} 

#pt-dino
{   
    width: 10%;
    height: 10%;
} 
