body
{
    background-color: #BAA796;
    margin-bottom: 200px;
}

h1
{
    font-size: 65px;
    color: black;
    text-align: center;
    font-family: 'Otomanopee One';
}

h1:hover
{
    color: rgb(236, 227, 227);
}

a 
{
    text-decoration: none;
}

.nav
{
    margin-bottom: 50px;
}

.welcome-text
{
    text-align: center;
    font-family: 'Karla';font-size: 60px;
    margin-bottom: 5px;
    margin-top: 0;
}

.adventure-text
{
    margin-top: 5px;
    text-align: center;
    font-family: 'Karla';font-size: 48px;

}

.search-box
{
    font-family: 'Karla';
    font-size: 40px;
    text-align: center;
    border: none;
    border-radius: 6px;
}

.search-div
{
    text-align: center;
    padding-bottom: 20px;
}

.login-button
{
    text-align: center;

}
.button
{
    font-family: 'Karla';
    font-size: 30px;
    height:50px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.35, color 0.35s;
    box-shadow:  5px 5px 10px black(0, 0, 0, .15);
    transition: box-shadow 0.15s;
    transition: background-color 0.15s;
}

.button:hover
{
    /*background-color: rgb(192, 192, 251);*/
    background-color: #70B841;
    color: rgb(255, 255, 255);

}
.button:active
{
    opacity: 0.7;
}

.register-text
{
    text-align: center;
}

span
{
    font-family: 'Karla';
    display: block;
    font-size: 25px;
    color: rgb(7, 7, 7);
    text-align: center;
}

#t-dino
{   
    width: 10%;
    height: 10%;
} 

#pt-dino
{   
    width: 10%;
    height: 10%;
} 

a
{
    color: black;
}

a:visited
{
    color: black;
}

a:hover
{
    color:rgb(255, 255, 255)
}
